<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" title="" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="input">Input</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

            {{!-- Description Tab --}}
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description tinymceeditorbox">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>

            {{!-- Input Tab --}}
            <div class="tab input" data-group="primary" data-tab="input">
                <h2>Basic Info</h2>
                <label class="class source">Source:
                    <select name="data.source" value="{{data.source}}" data-dtype="String">
                        {{#select data.source}}
                        <option value="arcane">Arcane</option>
                        <option value="divine">Divine</option>
                        <option value="martial">Martial</option>
                        <option value="primal">Primal</option>
                        <option value="psionic">Psionic</option>
                        <option value="shadow">Shadow</option>
                        {{/select}}
                    </select>
                </label>
                <label class="class role">Role: 
                    <select name="data.role" value="{{data.role}}" data-dtype="String">
                        {{#select data.role}}
                        <option value="controller">Controller</option>
                        <option value="defender">Defender</option>
                        <option value="leader">Leader</option>
                        <option value="striker">Striker</option>
                        {{/select}}
                    </select>
                </label>
                <br>
                <label class="class keyabilities">Key Abilities: 
                    <input type="text" name="data.keyAbilities" value="{{data.keyAbilities}}" data-dtype="String" 
                        placeholder="Key Abilities" title="Key Abilities, e.g. Strength, Dexterity, Constitution" />
                </label>
                <h2>Defenses</h2>
                <h3>Health</h3>
                <label class="class hp base">Base Hit Points: 
                    <input type="text" pattern="\d+" name="data.defense.hpBase" value="{{data.defense.hpBase}}" data-dtype="Number" >
                </label>
                <label class="class hp level">Hit Points per Level:
                    <input type="text" pattern="\d+" name="data.defense.hpLevel" value="{{data.defense.hpLevel}}" data-dtype="Number" />
                </label>
                <label class="class surges">Surges:
                    <input type="text" pattern="\d+" name="data.defense.surges" value="{{data.defense.surges}}" data-dtype="Number" />
                </label>
                <h3>Class Defense Bonuses</h3>
                <label class="class defense fortitude">Fortitude:
                    <input type="text" pattern="\d+" name="data.defense.fortitude" value="{{data.defense.fortitude}}" data-dtype="Number" />
                </label>
                <label class="class defense reflex">Reflex:
                    <input type="text" pattern="\d+" name="data.defense.reflex" value="{{data.defense.reflex}}" data-dtype="Number" />
                </label>
                <label class="class defense will">Will:
                    <input type="text" pattern="\d+" name="data.defense.will" value="{{data.defense.will}}" data-dtype="Number" />
                </label>
                <h2>Proficiencies</h2>
                <label class="class profs armor">Armor:
                    <input type="text" name="data.profs.armor" value="{{data.profs.armor}}" data-dtype="String"
						placeholder="Armor Proficiencies" title="Armor Proficiencies, e.g. Cloth" />
                </label>
                <label class="class profs weapon">Weapon:
                    <input type="text" name="data.profs.weapon" value="{{data.profs.weapon}}" data-dtype="String"
						placeholder="Weapon Proficiencies" title="Weapon Proficiencies, e.g. Simple Melee Weapons" />
                </label>
                <label class="class profs implement">Implement:
                    <input type="text" name="data.profs.implement" value="{{data.profs.implement}}" data-dtype="String"
						placeholder="Implement Proficiencies" title="Implement Proficiencies, e.g. Rods" />
                </label>
                <div class="class features">
                    <h2>Features</h2>
                    <header class="features-header flexrow">
                        <span class="feature-key">Feature Key</span>
                        <span class="feature-label">Name</span>
                        <a class="feature-control" data-action="create"><i class="fas fa-plus"></i></a>
                    </header>
                    <ol class="features-list">
                    {{#each data.features as |attr key|}}
                        <li class="feature" data-feature="{{key}}">
                            <input class="feature-key" type="text" name="data.features.{{key}}.key" 
                                value="{{key}}" placeholder="Key"/>
                            <input class="feature-label" type="text" name="data.features.{{key}}.label" 
                                value="{{attr.label}}" placeholder="Feature Name"/>
                            <a class="feature-control" data-action="delete"><i class="fas fa-trash"></i></a>
                            <textarea class="feature-value" name="data.features.{{key}}.value" 
                                data-dtype="String" placeholder="Feature Text">{{attr.value}}</textarea>
                        </li>
                    {{/each}}
                    </ol>
                </div>
            </div>
    </section>
</form>
