<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" title="" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="input">Input</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

            {{!-- Description Tab --}}
            <div class="tab" data-group="primary" data-tab="display">
                <h1>Description</h1>
                <div class="description tinymceeditorbox">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>

            {{!-- Input Tab --}}
            <div class="tab input" data-group="primary" data-tab="input">
                <h1>Input</h1>
                <label class="class source">Source:
                    <input type="text" name="data.source" value="{{data.source}}" data-dtype="String"
						placeholder="Source" title="Source, e.g. Martial" />
                </label>
                <label class="class role">Role: 
                    <input type="text" name="data.role" value="{{data.role}}" data-dtype="String"
						placeholder="Role" title="Role, e.g. Defender" />
                </label>
                <label class="class keyabilities">Key Abilities: 
                    <input type="text" name="data.keyAbilities" value="{{data.keyAbilities}}" data-dtype="String" 
                        placeholder="Key Abilities" title="Key Abilities, e.g. Strength, Dexterity, Constitution" />
                </label>
                <label class="class hp base">Base Hit Points: 
                    <input type="text" pattern="\d+" name="data.defense.hpBase" value="{{data.hpBase}}" data-dtype="Number" >
                </label>
                <label class="class hp level">Hit Points per Level:
                    <input type="text" pattern="\d+" name="data.defense.hpLevel" value="{{data.hpLevel}}" data-dtype="Number" />
                </label>
                <label class="class surges">Surges:
                    <input type="text" pattern="\d+" name="data.defense.surges" value="{{data.surges}}" data-dtype="Number" />
                </label>
                <label class="class defense fortitude">Fortitude:
                    <input type="text" pattern="\d+" name="data.defense.fortitude" value="{{data.defense.fortitude}}" data-dtype="Number" />
                </label>
                <label class="class defense reflex">Reflex:
                    <input type="text" pattern="\d+" name="data.defense.reflex" value="{{data.defense.reflex}}" data-dtype="Number" />
                </label>
                <label class="class defense will">Will:
                    <input type="text" pattern="\d+" name="data.defense.will" value="{{data.defense.will}}" data-dtype="Number" />
                </label>
                <label class="class profs armor">Armor Proficiencies:
                    <input type="text" name="data.profs.armor" value="{{data.profs.armor}}" data-dtype="String"
						placeholder="Armor Proficiencies" title="Armor Proficiencies, e.g. Cloth" />
                </label>
                <label class="class profs weapon">Weapon Proficiencies:
                    <input type="text" name="data.profs.weapon" value="{{data.profs.weapon}}" data-dtype="String"
						placeholder="Weapon Proficiencies" title="Weapon Proficiencies, e.g. Simple Melee Weapons" />
                </label>
                <label class="class profs implement">Implement Proficiencies:
                    <input type="text" name="data.profs.implement" value="{{data.profs.implement}}" data-dtype="String"
						placeholder="Implement Proficiencies" title="Implement Proficiencies, e.g. Rods" />
                </label>
                <div class="class features">
                    <h2>Features</h2>
                    <header class="features-header flexrow">
                        <span class="feature-key">Feature Key</span>
                        <span class="feature-label">Name</span>
                        <span class="feature-value">Text</span>
                        <a class="feature-control" data-action="create"><i class="fas fa-plus"></i></a>
                    </header>
                    <ol class="features-list">
                    {{#each data.features as |attr key|}}
                        <li class="attribute flexrow" data-attribute="{{key}}">
                            <input class="feature-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}"/>
                            <input class="feature-label" type="text" name="data.attributes.{{key}}.label" value="{{attr.label}}"/>
                            <textarea class="feature-value" name="data.attributes.{{key}}.value" data-dtype="String">{{attr.value}}</textarea>
                            <a class="feature-control" data-action="delete"><i class="fas fa-trash"></i></a>
                        </li>
                    {{/each}}
                    </ol>
                </div>
            </div>
    </section>
</form>
