<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <select class="equipment-type" name="data.type" data-dtype="String">
                {{#select data.type}}
                <option value="supplies">Supplies</option>
                <option value="armor">Armor</option>
                <option value="weapons">Weapon</option>
                <option value="implements">Implement</option>
                <option value="head">Head</option>
                <option value="neck">Neck</option>
                <option value="arms">Arms</option>
                <option value="hands">Hands</option>
                <option value="waist">Waist</option>
                <option value="feet">Feet</option>
                {{/select}}
            </select>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="input">Input</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

            {{!-- Description Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
                <h1>Description</h1>
                <div class="tinymceeditorbox">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>

            {{!-- Input Tab --}}
            <div class="tab input" data-group="primary" data-tab="input">
                <h1>Basics</h1>
                <label class="equipment quantity">Quantity:
                    <input type="text" pattern="\d+" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" 
                        title="Quantity"/>
                </label>
                <label class="equipment price">Price: 
                    <input type="text" name="data.price" value="{{data.price}}" data-dtype="String" 
                        placeholder="Price" title="Price, e.g. 5 gp" />
                </label>
                <label class="equipment size">Size (Slots): 
                    <input type="text" pattern="\d+" name="data.size" value="{{data.size}}" data-dtype="Number" title="Size, in slots e.g. 2" />
                </label>
                {{#if data.is.armor}}
                    <h2>Armor</h2>
                    <label class="equipment acbon">Armor Bonus:
                        <input type="text" pattern="\d+" name="data.armor.ac" value="{{data.armor.ac}}" data-dtype="Number" title="Armor Bonus, which is added to your AC" />
                    </label>
                    <label class="equipment acpen">Strength Requirement:
                        <input type="text" pattern="\d+" name="data.armor.strength" value="{{data.armor.strength}}" data-dtype="Number" 
                            title="Strength Requirement" />
                    </label>
                {{/if}}
                {{#if data.is.weapon}}
                    <h2>Weapon</h2>
                    <label class="equipment prof">Proficiency:
                        <input type="text" pattern="\d+" name="data.weapon.proficiency" value="{{data.weapon.proficiency}}" data-dtype="Number" 
                            title="Proficiency Bonus, which is added to your weapon attack rolls" />
                    </label>
                    <label class="equipment damage">Damage:
                        <input type="text" name="data.weapon.damage" value="{{data.weapon.damage}}" data-dtype="String" 
                            placeholder="Damage Dice" title="Damage Dice, e.g. 1d8" />
                    </label>
                    <label class="equipment range">Range:
                        <input type="text" name="data.weapon.range" value="{{data.weapon.range}}" data-dtype="String" 
                            placeholder="Weapon Range" title="Weapon Range, e.g. 30'/60'" />
                    </label>
                    <label class="equipment range">High Crit:
                        <input type="checkbox" name="data.weapon.hicrit" {{checked data.weapon.hicrit}} data-dtype="Boolean"  title="High Crit, this weapon deals extra damage on crits" />
                    </label>
                    <label class="equipment range">Brutal:
                        <input type="text" name="data.weapon.brutal" value="{{data.weapon.brutal}}" data-dtype="Number" 
                            placeholder="0" title="Brutal value, e.g. Brutal 1" />
                    </label>
                {{/if}}
                {{#if data.is.implement}}
                    <h2>Implement</h2>
                    <label class="equipment prof">Proficiency:
                        <input type="text" pattern="\d+" name="data.proficiency" value="{{data.implement.proficiency}}" data-dtype="Number" 
                            title="Proficiency Bonus, which is added to your implement attack rolls" />
                    </label>
                {{/if}}
                {{#if data.is.shield}}
                    <h2>Shield</h2>
                    <label class="equipment acbon">Shield Bonus:
                        <input type="text" pattern="\d+" name="data.shield.bonus" value="{{data.shield.bonus}}" data-dtype="Number" title="Shield Bonus, which is added to your AC and Reflex" />
                    </label>
                    <label class="equipment acpen">Strength Requirement:
                        <input type="text" pattern="\d+" name="data.shield.strength" value="{{data.shield.strength}}" data-dtype="Number" title="Strength Requirement" />
                    </label>
                {{/if}}
            </div>
    </section>
</form>
