<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <label class="equipment type">Type: 
            <select name="data.type" data-dtype="String">
                {{#select data.type}}
                    <option value="competency">Competency</option>
                    <option value="class">Class Feature</option>
                    <option value="feat">Feat</option>
                    <option value="flaw">Flaw</option>
                    <option value="race">Race Feature</option>
                {{/select}}
            </select>
        </label>
        <div class="description tinymceeditorbox">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
