<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <input type="text" name="data.requirements" value="{{data.requirements}}" placeholder="Requirements" data-dtype="String"/>
        <label class="type">Type: 
            <select name="data.type" data-dtype="String">
                {{#select data.type}}
                    <option value="competency">Competency</option>
                    <option value="feat">Feat</option>
                    <option value="flaw">Flaw</option>
                {{/select}}
            </select>
        </label>
        <textarea class="feature-value" name="data.description" 
            data-dtype="String" placeholder="Feature Text">{{data.description}}</textarea>
    </section>
</form>
