<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="input">Input</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body power">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="description tinymceeditorbox">
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Input Tab --}}
        <div class="tab input save-scroll" data-group="primary" data-tab="input">
            <input class="source" type="text" name="data.source" value="{{data.source}}" data-dtype="String" 
                placeholder="Source" title="Source" />
            <input type="text" pattern="\d+" name="data.level" value="{{data.level}}" data-dtype="Number"
                placeholder="Lvl" title="Power Level" />
            <input type="text" name="data.keywords" value="{{data.keywords}}" data-dtype="String"
                placeholder="Keywords" title="Keywords, e.g. Arcane, Fear" />
            <h2>Usage</h2>
            <label class="action">Action:
                <select name="data.action">
                    {{#select data.action}}
                    <option selected value="Standard">Standard</option>
                    <option value="Move">Move</option>
                    <option value="Minor">Minor</option>
                    <option value="Immediate Interrupt">Immediate Interupt</option>
                    <option value="Immediate Reaction">Immediate Reaction</option>
                    <option value="Free Interrupt">Free Interrupt</option>
                    <option value="Free Reaction">Free Reaction</option>
                    {{/select}}
                </select>
            </label>
            <br>
            <label class="recharge">Recharge:
                <select name="data.recharge">
                    {{#select data.recharge}}
                    <option selected value="">None</option>
                    <option value="Short Rest">Short Rest</option>
                    <option value="Long Rest">Long Rest</option>
                    <option value="special">Special</option>
                    {{/select}}
                </select>
            </label>
            <h2>Needs</h2>
            <label class="trigger">Trigger:
                <input type="text" name="data.trigger" value="{{data.trigger}}" data-dtype="String"
                    placeholder="Trigger" title="Triggers, e.g. When you become bloodied" />
            </label>
            <label class="type">Requirement:
                <input type="text" name="data.requirement" value="{{data.requirement}}" data-dtype="String"
                    placeholder="Requirement" title="Requirement, e.g. you must be wielding two weapons" />
            </label>
            <h2>Range and Targets</h2>
            <input type="text" name="data.range" value="{{data.range}}" data-dtype="String" placeholder="Range"
                title="Range, e.g. Melee Weapon or Ranged 30' sphere within 50'" />
            <input type="text" name="data.target" value="{{data.target}}" data-dtype="String" placeholder="Target"
                title="Target, e.g. One Creature or All Allies within Area" />
            <div class="attack-primary">
                <h2 class="attack">Primary Attack</h2>
                <input class="enable" type="checkbox" {{checked data.attack.exist}} name="data.attack.exist" /> 
                <div class="attack">
                    <select name="data.attack.stat">
                        {{#select data.attack.stat}}
                        <option selected value="strength">Strength</option>
                        <option value="constitution">Constitution</option>
                        <option value="dexterity">Dexterity</option>
                        <option value="intelligence">Intelligence</option>
                        <option value="wisdom">Wisdom</option>
                        <option value="charisma">Charisma</option>
                        {{/select}}
                    </select>
                    <span class="attackvs">vs.</span>
                    <select name="data.attack.def">
                        {{#select data.attack.def}}
                        <option selected value="AC">AC</option>
                        <option value="Fortitude">Fortitude</option>
                        <option value="Reflex">Reflex</option>
                        <option value="Will">Will</option>
                        {{/select}}
                    </select>
                    <h3 class="hit">Hit</h3>
                        <span>Weapon Attack</span>
                        <input type="checkbox" data-dtype="Boolean" name="data.attack.hit.weapon.use" {{checked data.attack.hit.weapon.use}} />
                        {{#if data.attack.hit.weapon.use}}
                        <input type="text" class="dice weapon" name="data.attack.hit.weapon.dice" value="{{data.attack.hit.weapon.dice}}" data-dtype="Number" pattern="\d+"
                        placeholder="##" title="Number of weapon dice, e.g. 2[W] with a 2d6 weapon deals 4d6 damage on a hit"/>
                            <span class="weapon">[W]</span>
                        {{else}}
                        <input type="text" class="dice" name="data.attack.hit.dice" value="{{data.attack.hit.dice}}" data-dtype="String" pattern="\d+d\d+"
                            placeholder="Damage Dice" title="Damage Dice, e.g. 2d6" />
                        {{/if}}
                        <span class="plus">+</span>
                        <select name="data.attack.hit.abi">
                            {{#select data.attack.hit.abi}}
                            <option selected value="none">None</option>
                            <option value="strength">Strength</option>
                            <option value="constitution">Constitution</option>
                            <option value="dexterity">Dexterity</option>
                            <option value="intelligence">Intelligence</option>
                            <option value="wisdom">Wisdom</option>
                            <option value="charisma">Charisma</option>
                            {{/select}}
                        </select>
                        <input type="text" class="damagetype" name="data.attack.hit.damageType" value="{{data.attack.hit.damageType}}" data-dtype="String"
                            placeholder="Damage Type" title="e.g. Fire or Weapon" />
                        <span>damage</span>
                        <input type="text" name="data.attack.hit.effect" value="{{data.attack.hit.effect}}" data-dtype="String"
                            placeholder="Hit Effect"
                            title="Hit effect, e.g. The target is slowed until the end of the next round" />
                    <h3>Miss</h3>
                        <input type="text" name="data.attack.miss" value="{{data.attack.miss}}" data-dtype="String" placeholder="Miss"
                            title="Miss, e.g. Half Damage" />
                </div>
            </div>
            <div class="attack-secondary">
                <h2 class="attack">Secondary Attack</h2>
                <input class="enable" type="checkbox" {{checked data.attackSecondary.exist}} name="data.attackSecondary.exist" /> 
                <div class="attack">
                    <h3>Range and Targets</h3>
                        <input type="text" name="data.attackSecondary.range" value="{{data.attackSecondary.range}}" data-dtype="String" placeholder="Range"
                            title="Range, e.g. Melee Weapon or Ranged 30' sphere within 50'" />
                        <input type="text" name="data.attackSecondary.target" value="{{data.attackSecondary.target}}" data-dtype="String" placeholder="Target"
                            title="Target, e.g. One Creature or All Allies within Area" />
                    <h3>Attack</h3>
                        <select name="data.attackSecondary.stat">
                            {{#select data.attackSecondary.stat}}
                            <option selected value="strength">Strength</option>
                            <option value="constitution">Constitution</option>
                            <option value="dexterity">Dexterity</option>
                            <option value="intelligence">Intelligence</option>
                            <option value="wisdom">Wisdom</option>
                            <option value="charisma">Charisma</option>
                            {{/select}}
                        </select>
                        <span class="attackvs">vs.</span>
                        <select name="data.attackSecondary.def">
                            {{#select data.attackSecondary.def}}
                            <option selected value="AC">AC</option>
                            <option value="Fortitude">Fortitude</option>
                            <option value="Reflex">Reflex</option>
                            <option value="Will">Will</option>
                            {{/select}}
                        </select>
                    <h3 class="hit">Hit</h3>
                        <span>Weapon Attack</span>
                        <input type="checkbox" data-dtype="Boolean" name="data.attackSecondary.hit.weapon.use" {{checked data.attackSecondary.hit.weapon.use}} />
                        {{#if data.attackSecondary.hit.weapon.use}}
                        <input type="text" class="dice weapon" name="data.attackSecondary.hit.weapon.dice" value="{{data.attackSecondary.hit.weapon.dice}}" data-dtype="Number" pattern="\d+"
                            placeholder="##" title="Number of weapon dice, e.g. 2[W] with a 2d6 weapon deals 4d6 damage on a hit"/>
                            <span class="weapon">[W]</span>
                        {{else}}
                        <input type="text" class="dice" name="data.attackSecondary.hit.dice" value="{{data.attackSecondary.hit.dice}}" data-dtype="String" pattern="\d+d\d+"
                            placeholder="Damage Dice" title="Damage Dice, e.g. 2d6" />
                        {{/if}}
                        <span class="plus">+</span>
                        <select name="data.attackSecondary.hit.abi">
                            {{#select data.attackSecondary.hit.abi}}
                            <option selected value="none">None</option>
                            <option value="strength">Strength</option>
                            <option value="constitution">Constitution</option>
                            <option value="dexterity">Dexterity</option>
                            <option value="intelligence">Intelligence</option>
                            <option value="wisdom">Wisdom</option>
                            <option value="charisma">Charisma</option>
                            {{/select}}
                        </select>
                        <input type="text" class="damagetype" name="data.attackSecondary.hit.damageType" value="{{data.attackSecondary.hit.damageType}}" data-dtype="String"
                            placeholder="Damage Type" title="e.g. Fire or Weapon" />
                        <span>damage</span>
                        <input type="text" name="data.attackSecondary.hit.effect" value="{{data.attackSecondary.hit.effect}}" data-dtype="String"
                            placeholder="Hit Effect"
                            title="Hit effect, e.g. The target is slowed until the end of the next round" />
                    <h3>Miss</h3>
                        <input type="text" name="data.attackSecondary.miss" value="{{data.attackSecondary.miss}}" data-dtype="String" placeholder="Miss"
                            title="Miss, e.g. Half Damage" />
                </div>
            </div>
            <div class="attack-tertiary">
                <h2 class="attack">Tertiary Attack</h2>
                <input class="enable" type="checkbox" {{checked data.attackTertiary.exist}} name="data.attackTertiary.exist" /> 
                <div class="attack">
                <h3>Range and Targets</h3>
                    <input type="text" name="data.attackTertiary.range" value="{{data.attackTertiary.range}}" data-dtype="String" placeholder="Range"
                        title="Range, e.g. Melee Weapon or Ranged 30' sphere within 50'" />
                    <input type="text" name="data.attackTertiary.target" value="{{data.attackTertiary.target}}" data-dtype="String" placeholder="Target"
                        title="Target, e.g. One Creature or All Allies within Area" />
                <h3>Attack</h3>
                    <select name="data.attackTertiary.stat">
                        {{#select data.attackTertiary.stat}}
                        <option selected value="strength">Strength</option>
                        <option value="constitution">Constitution</option>
                        <option value="dexterity">Dexterity</option>
                        <option value="intelligence">Intelligence</option>
                        <option value="wisdom">Wisdom</option>
                        <option value="charisma">Charisma</option>
                        {{/select}}
                    </select>
                    <span class="attackvs">vs.</span>
                    <select name="data.attackTertiary.def">
                        {{#select data.attackTertiary.def}}
                        <option selected value="AC">AC</option>
                        <option value="Fortitude">Fortitude</option>
                        <option value="Reflex">Reflex</option>
                        <option value="Will">Will</option>
                        {{/select}}
                    </select>
                <h3 class="hit">Hit</h3>
                    <span>Weapon Attack</span>
                    <input type="checkbox" data-dtype="Boolean" name="data.attackTertiary.hit.weapon.use" {{checked data.attackTertiary.hit.weapon.use}} />
                    {{#if data.attackTertiary.hit.weapon.use}}
                    <input type="text" class="dice weapon" name="data.attackTertiary.hit.weapon.dice" value="{{data.attackTertiary.hit.weapon.dice}}" data-dtype="Number" pattern="\d+"
                        placeholder="##" title="Number of weapon dice, e.g. 2[W] with a 2d6 weapon deals 4d6 damage on a hit"/>
                        <span class="weapon">[W]</span>
                    {{else}}
                    <input type="text" class="dice" name="data.attackTertiary.hit.dice" value="{{data.attackTertiary.hit.dice}}" data-dtype="String" pattern="\d+d\d+"
                        placeholder="Damage Dice" title="Damage Dice, e.g. 2d6" />
                    {{/if}}
                    <span class="plus">+</span>
                    <select name="data.attackTertiary.hit.abi">
                        {{#select data.attackTertiary.hit.abi}}
                        <option selected value="none">None</option>
                        <option value="strength">Strength</option>
                        <option value="constitution">Constitution</option>
                        <option value="dexterity">Dexterity</option>
                        <option value="intelligence">Intelligence</option>
                        <option value="wisdom">Wisdom</option>
                        <option value="charisma">Charisma</option>
                        {{/select}}
                    </select>
                    <input type="text" class="damagetype" name="data.attackTertiary.hit.damageType" value="{{data.attackTertiary.hit.damageType}}" data-dtype="String"
                        placeholder="Damage Type" title="e.g. Fire or Weapon" />
                    <span>damage</span>
                    <input type="text" name="data.attackTertiary.hit.effect" value="{{data.attackTertiary.hit.effect}}" data-dtype="String"
                        placeholder="Hit Effect"
                        title="Hit effect, e.g. The target is slowed until the end of the next round" />
                <h3>Miss</h3>
                    <input type="text" name="data.attackTertiary.miss" value="{{data.attackTertiary.miss}}" data-dtype="String" placeholder="Miss"
                        title="Miss, e.g. Half Damage" />
                </div>
            </div>
            <h2>Effect</h2>
            <textarea name="data.effect" data-dtype="String" placeholder="Effect" rows="5"
                title="Effect, e.g. each ally within 25' gains a +2 bonus to AC">{{data.effect}}</textarea>
            <label class="sustain">Sustain:
                <input type="text" name="data.sustain" value="{{data.sustain}}" data-dtype="String"
                    placeholder="Sustain"
                    title="Sustain, e.g. Sustain Minor: The zone persists until the end of the next round" />
            </label>
        </div>
    </section>
</form>