<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="display">Display</a>
        <a class="item" data-tab="input">Input</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

            {{!-- Display Tab --}}
            <div class="tab display" data-group="primary" data-tab="display">
                <h1>Display</h1>
                <div class="description tinymceeditorbox">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>

            {{!-- Input Tab --}}
            <div class="tab input" data-group="primary" data-tab="input">
                <h1>Input</h1>
                <label class="race asi">Ability Score Increase:
                    <input type="text" name="data.asi" value="{{data.asi}}" data-dtype="String" placeholder="Ability Score Increases"/>
                </label>
                <label class="race size">Size: 
                    <input type="text" name="data.size" value="{{data.size}}" data-dtype="String" placeholder="Size"/>
                </label>
                <label class="race speed">Movement:
                    <input type="text" name="data.speed" value="{{data.speed}}" data-dtype="String" placeholder="Movement"/>
                </label>
                <label class="race vision">Vision: 
                    <input type="text" name="data.vision" value="{{data.vision}}" data-dtype="String" placeholder="Vision"/>
                </label>
                <label class="race languages">Languages: 
                    <input type="text" name="data.languages" value="{{data.languages}}" data-dtype="String" placeholder="Languages"/>
                </label>
                <label class="race skills">Skills:
                    <input type="text" name="data.skill" value="{{data.skill}}" data-dtype="String" placeholder="Skills"/>
                </label>
                <label class="race competencies">Competencies:
                    <input type="text" name="data.competencies" value="{{data.competencies}}" data-dtype="String" placeholder="Competencies"/>
                </label>
                <div class="race features">
                    <h2>Features</h2>
                    <header class="attributes-header flexrow">
                        <span class="attribute-key">Feature Key</span>
                        <span class="attribute-label">Name</span>
                        <span class="attribute-value">Text</span>
                        <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a>
                    </header>
                    <ol class="attributes-list">
                    {{#each data.features as |attr key|}}
                        <li class="attribute flexrow" data-attribute="{{key}}">
                            <input class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}"/>
                            <input class="attribute-label" type="text" name="data.attributes.{{key}}.label" value="{{attr.label}}"/>
                            <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="String"/>
                            <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
                        </li>
                    {{/each}}        
                </div>
            </div>
    </section>
</form>
