<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}"
						placeholder="Name" title="" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="input">Input</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

            {{!-- Description Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
                <h1>Description</h1>
                <div class="description tinymceeditorbox">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>

            {{!-- Input Tab --}}
            <div class="tab input" data-group="primary" data-tab="input">
                <h1>Input</h1>
                <label class="race asi">Ability Score Increase:
                    <input type="text" name="data.asi" value="{{data.asi}}" data-dtype="String"
						placeholder="Ability Score Increases" title="Ability Score Increase, e.g. +2 Strength and +2 Dexterity or Constitution" />
                </label>
                <label class="race size">Size: 
                    <input type="text" name="data.size" value="{{data.size}}" data-dtype="String"
						placeholder="Size" title="Size, e.g. Medium (Height: 5’6”-6’2” Weight: 135-220 lbs.)" />
                </label>
                <label class="race speed">Movement:
                    <input type="text" name="data.speed" value="{{data.speed}}" data-dtype="String"
						placeholder="Movement" title="Movement, e.g. 30 ft." />
                </label>
                <label class="race vision">Vision: 
                    <input type="text" name="data.vision" value="{{data.vision}}" data-dtype="String"
						placeholder="Vision" title="Vision, e.g. Nightblind" />
                </label>
                <label class="race languages">Languages: 
                    <input type="text" name="data.languages" value="{{data.languages}}" data-dtype="String"
						placeholder="Languages" title="Languages, e.g. Common, one other" />
                </label>
                <label class="race skills">Skills:
                    <input type="text" name="data.skill" value="{{data.skill}}" data-dtype="String"
						placeholder="Skills" title="Skills, e.g. +2 Athletics" />
                </label>
                <label class="race competencies">Competencies:
                    <input type="text" name="data.competencies" value="{{data.competencies}}" data-dtype="String"
						placeholder="Competencies" title="Competencies, e.g. Knowledge of Creatures (Humanoids)" />
                </label>
                <div class="race features">
                    <h2>Features</h2>
                    <header class="features-header flexrow">
                        <span class="feature-key">Feature Key</span>
                        <span class="feature-label">Name</span>
                        <span class="feature-value">Text</span>
                        <a class="feature-control" data-action="create"><i class="fas fa-plus"></i></a>
                    </header>
                    <ol class="features-list">
                    {{#each data.features as |attr key|}}
                        <li class="attribute flexrow" data-attribute="{{key}}">
                            <input class="feature-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}"/>
                            <input class="feature-label" type="text" name="data.attributes.{{key}}.label" value="{{attr.label}}"/>
                            <input class="feature-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="String"/>
                            <a class="feature-control" data-action="delete"><i class="fas fa-trash"></i></a>
                        </li>
                    {{/each}}        
                </div>
            </div>
    </section>
</form>
