<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}"
						placeholder="Name" title="Name, e.g. " /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <!-- <a class="item" data-tab="input">Input</a> -->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

            {{!-- Description Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
                <h1>Details</h1>
                <label class="ritual marketprice">Market Price:
                    <input type="text" name="data.marketPrice" value="{{data.marketPrice}}" data-dtype="String"
						placeholder="Market Price" title="Market Price, e.g. 25 gp" />
                </label>
                <label class="ritual category">Category: 
                    <input type="text" name="data.category" value="{{data.category}}" data-dtype="String"
						placeholder="Category" title="Category, e.g. Deception (Illusion)" />
                </label>
                <br>
                <label class="ritual componentcost">Component Cost: 
                    <input type="text" name="data.componentCost" value="{{data.componentCost}}" data-dtype="String"
						placeholder="Component Cost" title="Component Cost, e.g. 5 gp" />
                </label>
                <label class="ritual castingtime">Casting Time: 
                    <input type="text" name="data.castingTime" value="{{data.castingTime}}" data-dtype="String"
						placeholder="Casting Time" title="Casting Time, e.g. 1 hour" />
                </label>
                <br>
                <label class="ritual duration">Duration:
                    <input type="text" name="data.duration" value="{{data.duration}}" data-dtype="String"
						placeholder="Duration" title="Duration, e.g. Instantaneous" />
                </label>
                <h1>Description</h1>
                <div class="description tinymceeditorbox">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>

            <!-- {{!-- Input Tab --}}
            <div class="tab input" data-group="primary" data-tab="input">
                <h1>Input</h1>
            </div> -->
    </section>
</form>
