<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"
                    title="Name, e.g. " /></h1>
            <h2 class="playername"><input name="data.playername" type="text" value="{{data.playername}}"
                    placeholder="Player Name" /></h2>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="equipment">Equipment</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="description">
            <h2>Basic Info</h2>
            <div class="half">
                <h3>Biography</h3>
                <span class="race clickable" value="{{data.race.name}}">{{data.race.name}}</span>
                <input class="height" type="text" name="data.height" value="{{data.height}}" data-dtype="String"
                    placeholder="Height" title="Height, e.g. 6'1 " />
                <input class="weight" type="text" name="data.weight" value="{{data.weight}}" data-dtype="String"
                    placeholder="Weight" title="Weight, e.g. 200 lbs." />
                <textarea class="description" name="data.quick" value="{{data.quick}}" data-dtype="String"
                    placeholder="Quick Description"
                    title="Quick Description, e.g. A tall and muscular, dark-haired human (he/him)">{{data.quick}}</textarea>
            </div>
            <div class="half">
                <h3>Mechanics</h3>
                <span class="class name clickable" value="{{data.class.name}}">{{data.class.name}}</span>
                <input class="level" type="text" pattern="\d+" name="data.class.level" value="{{data.class.level}}"
                    data-dtype="Number" placeholder="Character Level" title="Character Level" />
                <input class="paragon" type="text" name="data.class.paragon" value="{{data.class.paragon}}"
                    data-dtype="String" placeholder="Paragon Path" title="Paragon Path, e.g. Champion" />
                <input class="epic" type="text" name="data.epic" value="{{data.epic}}" data-dtype="String"
                    placeholder="Epic Destiny" title="Epic Destiny, e.g. Demigod" />
                <label>Quest: 
                    <input class="quest" type="text" pattern="\d+" name="data.class.quest" value="{{data.class.quest}}"
                        data-dtype="Number" placeholder="[Q]" title="Quest Bonus, goes from 0 to 10" />
                </label>
            </div>
            <input type="text" name="data.kanka" value="{{data.kanka}}" data-dtype="String" placeholder="Kanka URL"
                title="Kanka URL, e.g. https://kanka.io/en-US/campaign/6529/characters/50478" />

        </div>

        {{!-- Abilities and Skills Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <div class="ability">
                <h2>Abilities</h2>
                <ol class="block-list">
                    {{#each data.abilities as |attr key|}}
                    <li>
                        <h4 class="label" name="data.abilities.{{key}}.label">{{label}}</h4>
                        <input class="score" type="text" pattern="\d+" name="data.abilities.{{key}}.score"
                            value="{{attr.score}}" data-dtype="Number" title="Ability Score" />
                        <span class="modifier" title="Ability Modifier" >{{numberFormat mod decimals=0 sign=true}}</span>
                    </li>
                    {{/each}}
                </ol>

            </div>
            <div class="skill">
                <h2>Skills</h2>
                <div class="head">
                    <p class="mod">Mod</p>
                    <p class="label">Skill</p>
                    <p class="ability">Ability</p>
                    <p class="rank">Rank</p>
                    <p class="misc">Misc. Bonus</p>
                </div>
                <ol class="repeating-list">
                    {{#each data.skill as |skill key|}}
                    <li class="{{skill.ability}}">
                        <p class="mod">{{numberFormat mod decimals=0 sign=true}}</p>
                        <p class="label rollable" name="data.skill.{{key}}.label">{{label}}</p>
                        <p class="ability">{{ability_short}}</p>
                        <select class="rank" name="data.skill.{{key}}.rank" data-dtype="String">
                            {{#select skill.rank}}
                            <option value="Untrained" selected>Untrained</option>
                            <option value="Adept">Adept</option>
                            <option value="Trained">Trained</option>
                            <option value="Experienced">Experienced</option>
                            <option value="Expert">Expert</option>
                            <option value="Master">Master</option>
                            {{/select}}
                        </select>
                        <input class="miscbonus" type="text" pattern="\d+" name="data.skill.{{key}}.miscbonus"
                            value="{{skill.miscbonus}}" data-dtype="Number"
                            title="Miscellaneous bonuses, such as from your race, feats, or items" />
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <h2 class="defense">Defenses</h2>
            <a class="defense-edit" title="Configure Defenses"><i class="fas fa-edit"></i></a>
            <div class="display">
                <ul class="attributes flexrow">
                    <li class="attribute movement">
                        <h4 class="attribute-name box-title">Speed</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}"
                                placeholder="Land Speed" />
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" class="speed" name="data.attributes.speed.special"
                                value="{{data.attributes.speed.special}}" placeholder="Special Movement" />
                        </footer>
                    </li>
                    <li class="attribute health">
                        <h4 class="attribute-name box-title">Health</h4>
                        <div class="attribute-value multiple">
                            <input class="healthvalue" name="data.health.value" type="text" pattern="\d+"
                                value="{{data.health.value}}" data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <span class="max" value="{{data.health.max}}">{{data.health.max}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input name="data.health.temp" type="text" pattern="\d+" class="half" placeholder="+Temp"
                                value="{{data.health.temp}}" data-dtype="Number" />
                            <input name="data.health.tempmax" type="text" pattern="(-)?\d+" class="half"
                                placeholder="+Temp Max" value="{{data.health.tempmax}}" data-dtype="Number" />
                        </footer>
                    </li>
                    <li class="attribute surges">
                        <h4 class="attribute-name box-title">Surges</h4>
                        <div class="attribute-value multiple">
                            <input name="data.surges.value" type="text" pattern="\d+" value="{{data.surges.value}}"
                                data-dtype="Number" placeholder="6" />
                            <span class="sep"> / </span>
                            <span class="max" value="{{data.surges.max}}">{{data.surges.max}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <span>Value: {{data.surges.heal}}</span>
                        </footer>
                    </li>
                </ul>
                <ul class="attributes flexrow">
                    <li class="attribute defense">
                        <h4 class="attribute-name box-title">AC</h4>
                        <div class="attribute-value">
                            <span class="ac">{{data.ac.value}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" pattern="\d+" name="data.ac.miscbonus" value="{{data.ac.miscbonus}}"
                                placeholder="Misc. Bonus" data-dtype="Number" />
                        </footer>
                    </li>
                    <li class="attribute defense">
                        <h4 class="attribute-name box-title">Fortitude</h4>
                        <div class="attribute-value">
                            <span class="ac">{{data.fortitude.value}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" pattern="\d+" name="data.fortitude.miscbonus"
                                value="{{data.fortitude.miscbonus}}" placeholder="Misc. Bonus" data-dtype="Number" />
                        </footer>
                    </li>
                    <li class="attribute defense">
                        <h4 class="attribute-name box-title">Reflex</h4>
                        <div class="attribute-value">
                            <span class="ac">{{data.reflex.value}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" pattern="\d+" name="data.reflex.miscbonus" value="{{data.reflex.miscbonus}}"
                                placeholder="Misc. Bonus" data-dtype="Number" />
                        </footer>
                    </li>
                    <li class="attribute defense">
                        <h4 class="attribute-name box-title">Will</h4>
                        <div class="attribute-value">
                            <span class="ac">{{data.will.value}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" pattern="\d+" name="data.will.miscbonus" value="{{data.will.miscbonus}}"
                                placeholder="Misc. Bonus" data-dtype="Number" />
                        </footer>
                    </li>
                </ul>
            </div>
            <div class="defense-config">
                <label class="numblock"><span>Bonus Max HP</span>
                    <input class="defense hp" type="text" pattern="\d+" name="data.class.bonus.hp" value="{{data.class.bonus.hp}}"
                        data-dtype="Number" title="Bonus Max HP, such as from the Toughness feat" />
                </label>
                <label class="numblock"><span>Bonus Surges</span>
                    <input class="defense hp" type="text" pattern="\d+" name="data.class.bonus.surges" value="{{data.class.bonus.surges}}"
                        data-dtype="Number" title="Bonus surges" />
                </label>
            </div>
            <h2>Powers</h2>
            <div class="powers">
                <ol class="repeating-list">
                    {{#each data.powers as |power key|}}
                        <li class="powers item {{usage}}" data-item-id="{{key}}" data-power="true">
                            <div class="powerheader item-head">
                                <span class="powername">{{name}}</span>
                                <div class="item-controls">
                                    <a class="item-control item-details-toggle" title="Show Power"><i class="fas fa-caret-right"></i></a>
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            <div class="powerbody save-toggle individual-description">
                                <div class="power-row usage">
                                    <span>{{recharge}}</span>
                                    <span>{{action}}</span>
                                    {{#if recharge}}
                                    <label class="ready">
                                        Ready
                                        <input type="checkbox" {{checked ready}} name="data.powers.{{key}}.ready" />
                                    </label>
                                    {{/if}}
                                </div>
                                {{#if requirement}}
                                    <div class="power-row requirement">Requirement: 
                                        <span>{{requirement}}</span>
                                    </div>
                                {{/if}}
                                {{#if trigger}}
                                    <div class="power-row trigger">Trigger: 
                                        <span>{{trigger}}</span>
                                    </div>
                                {{/if}}
                                <div class="power-row rangetargets">
                                    <span class="range">{{range}}</span>
                                    {{#if target}} 
                                        <span class="diamond"> ♦ </span>
                                        <span class="targets">{{target}}</span>
                                    {{/if}}
                                </div>
                                {{#if attack.exist}}
                                    <div class="power-row">
                                        <strong>
                                            {{#if attackSecondary.exist}}
                                            Primary
                                            {{/if}} 
                                            Attack
                                        </strong>
                                        <select class="power-weapon-select" name="data.powers.{{key}}.attack.weapon" data-dtype="String">
                                            {{#select attack.weapon}}
                                            {{#each @root.data.equipment.worn.weapons as |weapon weaponkey|}}
                                            <option value="{{weaponkey}}">{{weapon.label}}</option>
                                            {{/each}}
                                            {{#each @root.data.equipment.worn.implements as |implement implementkey|}}
                                            <option value="{{implementkey}}">{{implement.label}}</option>
                                            {{/each}}
                                            {{/select}}
                                        </select>
                                    </div>
                                    <div class="power-row attack rollable">
                                        <span>{{numberFormat attack.hitbonus decimals=0 sign=true}}</span> vs. 
                                        <span>{{attack.def}}</span>
                                    </div>
                                    <div class="power-row hit-damage rollable">
                                        <span>{{attack.hit.dice}}</span>
                                        <span>{{numberFormat attack.flat decimals=0 sign=true}}</span>
                                        <span>{{attack.hit.damageType}}</span> damage
                                    </div>
                                    {{#if attack.hit.effect}}
                                    <div class="power-row hit-effect">
                                        <p>{{attack.hit.effect}}</p>
                                    </div>
                                    {{/if}}
                                    {{#if attack.miss}}
                                    <div class="power-row hit-miss">
                                        <p>{{attack.miss}}</p>
                                    </div>
                                    {{/if}}
                                {{/if}}
                                {{#if attackSecondary.exist}}   
                                    <div class="power-row">
                                        <strong>Secondary Attack</strong>
                                        <select class="power-weapon-select" name="data.powers.{{key}}.attackSecondary.weapon" data-dtype="String">
                                            {{#select attackSecondary.weapon}}
                                            {{#each @root.data.equipment.worn.weapons as |weapon weaponkey|}}
                                            <option value="{{weaponkey}}">{{weapon.label}}</option>
                                            {{/each}}
                                            {{#each @root.data.equipment.worn.implements as |implement implementkey|}}
                                            <option value="{{implementkey}}">{{implement.label}}</option>
                                            {{/each}}
                                            {{/select}}
                                        </select>
                                    </div>
                                    <div class="power-row rangetargets">
                                        <span class="range">{{attackSecondary.range}}</span>
                                        {{#if attackSecondary.target}} 
                                            <span class="diamond"> ♦ </span>
                                            <span class="targets">{{attackSecondary.target}}</span>
                                        {{/if}}
                                    </div>
                                    <div class="power-row attackSecondary rollable">
                                        <span>{{numberFormat attackSecondary.hitbonus decimals=0 sign=true}}</span> vs. 
                                        <span>{{attackSecondary.def}}</span>
                                    </div>
                                    <div class="power-row hit-damage rollable">
                                        <span>{{attackSecondary.hit.dice}}</span>
                                        <span>{{numberFormat attackSecondary.flat decimals=0 sign=true}}</span>
                                        <span>{{attackSecondary.hit.damageType}}</span> damage
                                    </div>
                                    {{#if attackSecondary.hit.effect}}
                                    <div class="power-row hit-effect">
                                        <p>{{attackSecondary.hit.effect}}</p>
                                    </div>
                                    {{/if}}
                                    {{#if attackSecondary.miss}}
                                    <div class="power-row hit-miss">
                                        <p>{{attackSecondary.miss}}</p>
                                    </div>
                                    {{/if}}
                                {{/if}}
                                {{#if attackTertiary.exist}}   
                                    <div class="power-row">
                                        <strong>Tertiary Attack</strong>
                                        <select class="power-weapon-select" name="data.powers.{{key}}.attackTertiary.weapon" data-dtype="String">
                                            {{#select attackTertiaryweapon}}
                                            {{#each @root.data.equipment.worn.weapons as |weapon weaponkey|}}
                                            <option value="{{weaponkey}}">{{weapon.label}}</option>
                                            {{/each}}
                                            {{#each @root.data.equipment.worn.implements as |implement implementkey|}}
                                            <option value="{{implementkey}}">{{implement.label}}</option>
                                            {{/each}}
                                            {{/select}}
                                        </select>
                                    </div>
                                    <div class="power-row rangetargets">
                                        <span class="range">{{attackTertiary.range}}</span>
                                        {{#if attackTertiary.target}} 
                                            <span class="diamond"> ♦ </span>
                                            <span class="targets">{{attackTertiary.target}}</span>
                                        {{/if}}
                                    </div>
                                    <div class="power-row attackTertiary rollable">
                                        <span>{{numberFormat attackTertiary.hitbonus decimals=0 sign=true}}</span> vs. 
                                        <span>{{attackTertiary.def}}</span>
                                    </div>
                                    <div class="power-row hit-damage rollable">
                                        <span>{{attackTertiary.hit.dice}}</span>
                                        <span>{{numberFormat attackTertiary.flat decimals=0 sign=true}}</span>
                                        <span>{{attackTertiary.hit.damageType}}</span> damage
                                    </div>
                                    {{#if attackTertiary.hit.effect}}
                                    <div class="power-row hit-effect">
                                        <p>{{attackTertiary.hit.effect}}</p>
                                    </div>
                                    {{/if}}
                                    {{#if attackTertiary.miss}}
                                    <div class="power-row hit-miss"> Miss:
                                        <span>{{attackTertiary.miss}}</span>
                                    </div>
                                    {{/if}}
                                {{/if}}
                                {{#if effect}}
                                    <div class="power-row effect"> Effect:
                                        <span class="powertext">{{effect}}</span>
                                    </div>
                                {{/if}}
                                {{#if sustain}}
                                    <div class="power-row sustain"> Sustain:
                                        <span>{{sustain}}</span>
                                    </div>
                                {{/if}}
                            </div>
                        </li> 
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <div class="race">
                <h2>Race Features</h2>
                <ol class="features-list">
                    {{#each data.features.race as |feat key|}}
                    <li>
                        <h3 class="name" name="data.features.race.{{key}}.label">{{label}}</h3>
                        <div class="description" name="data.features.race.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="class">
                <h2>Class Features</h2>
                <ol class="features-list">
                    {{#each data.features.class as |feat key|}}
                    <li>
                        <h3 class="name" name="data.features.class.{{key}}.label">{{label}}</h3>
                        <p class="description" name="data.features.class.{{key}}.description">{{description}}</p>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="competencies">
                <h2>Competencies</h2>
                <ol class="features-list">
                    {{#each data.features.competency as |feat key|}}
                    <li class="item" data-item-id="{{key}}" data-feature-type="competency">
                        <h3 class="name" name="data.features.competency.{{key}}.label">{{label}}</h3>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item" data-action="edit"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="description" name="data.features.competency.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="feats">
                <h2>Feats</h2>
                <ol class="features-list">
                    {{#each data.features.feat as |feat key|}}
                    <li class="item" data-item-id="{{key}}" data-feature-type="feat">
                        <h3 class="name" name="data.features.feat.{{key}}.label">{{label}}</h3>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item" data-action="edit"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="description" name="data.features.feat.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="flaws">
                <h2>Flaws</h2>
                <ol class="features-list">
                    {{#each data.features.flaw as |feat key|}}
                    <li class="item" data-item-id="{{key}}" data-feature-type="flaw">
                        <h3 class="name" name="data.features.flaw.{{key}}.label">{{label}}</h3>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item" data-action="edit"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="description" name="data.features.flaw.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <h2>Currency</h2>
            <div class="currency">
                <h3>Heroic Tier</h3>
                <label><input type="text" pattern="\d+" name="data.currency.copper" value="{{data.currency.copper}}" /> Copper Crowns </label>
                <label><input type="text" pattern="\d+" name="data.currency.silver" value="{{data.currency.silver}}" /> Silver Sovereigns</label>
                <label><input type="text" pattern="\d+" name="data.currency.gold" value="{{data.currency.gold}}" /> Golden Galifars</label>
                <label><input type="text" pattern="\d+" name="data.currency.platinum" value="{{data.currency.platinum}}" /> Platinum Dragons</label>
            </div>
            <h2>Equipment</h2>
            <div class="worn">
                <h3>Weapons</h3>
                <ol class="weapons">
                    {{#each data.equipment.worn.weapons as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="weapons">
                        <label>
                            <input type="radio" name="data.equipment.equipped.weapons" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Implements</h3>
                <ol class="implements">
                    {{#each data.equipment.worn.implements as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="implements">
                        <label>
                            <input type="radio" name="data.equipment.equipped.implements" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3 class="armor-head">Armor</h3>
                <div class="armor-abil-select">
                    Ability to AC:
                    <select name="data.equipment.armor.ability" data-dtype="Number">
                        {{#select data.equipment.armor.ability}}
                        <option value=0>None (Heavy Armor)</option>
                        {{#each data.abilities as |attr key|}}
                        <option value="{{mod}}">{{full}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <ol class="armor">
                    {{#each data.equipment.worn.armor as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="armor">
                        <label>
                            <input type="radio" name="data.equipment.equipped.armor" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Arms</h3>
                <ol class="arms">
                    {{#each data.equipment.worn.arms as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="arms">
                        <label>
                            <input type="radio" name="data.equipment.equipped.arms" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Head</h3>
                <ol class="head">
                    {{#each data.equipment.worn.head as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="head">
                        <label>
                            <input type="radio" name="data.equipment.equipped.head" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Neck</h3>
                <ol class="neck">
                    {{#each data.equipment.worn.neck as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="neck">
                        <label>
                            <input type="radio" name="data.equipment.equipped.neck" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Hands</h3>
                <ol class="hands">
                    {{#each data.equipment.worn.hands as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="hands">
                        <label>
                            <input type="radio" name="data.equipment.equipped.hands" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Waist</h3>
                <ol class="waist">
                    {{#each data.equipment.worn.waist as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="waist">
                        <label>
                            <input type="radio" name="data.equipment.equipped.waist" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Feet</h3>
                <ol class="feet">
                    {{#each data.equipment.worn.feet as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="feet">
                        <label>
                            <input type="radio" name="data.equipment.equipped.feet" value="{{key}}" {{checked equipped}} data-dtype="Radio" />
                            <h4 class="clickable">{{label}}</h4>
                        </label>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Carried</h3>
                <ol class="carried">
                    {{#each data.equipment.worn.supplies as |item key|}}
                    <li class="item" data-item-id="{{key}}" data-equipment="supplies">
                        <h4 class="clickable">{{label}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr />
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
            <h2>Rituals</h2>
            <ol class="rituals">
                {{#each data.rituals as |ritual key|}}
                <li class="ritual item" data-item-id="{{key}}">
                    <div class="ritualheader item-head">
                        <h4>{{label}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-details-toggle" title="Show Power"><i class="fas fa-caret-right"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="ritual-body individual-description save-toggle">
                        <span>Component Cost: {{componentCost}}</span>
                        <span>Casting Time: {{castingTime}}</span>
                        <span>Duration: {{duration}}</span>
                        <div class="description">
                            {{data.properties}}
                        </div>
                    </div>
                </li>
                {{#if @last}}
                {{else}}
                <hr />
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </section>
</form>