<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" title="Name, e.g. " /></h1>
            <h1 class="playername"><input name="data.playername" type="text" value={{data.playername}} /></h1>
            
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="abilities">Abilities</a>
		<a class="item" data-tab="combat">Combat</a>
		<a class="item" data-tab="features">Features</a>
		<a class="item" data-tab="equipment">Equipment</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="description">
            <h2>Basic Info</h2>
            <input type="text" name="data.race"  data-dtype="String" placeholder="Race" title="Race, e.g. Human" />
            <input type="text" name="data.height"  data-dtype="String" placeholder="Height" title="Height, e.g. 6'1 " />
            <input type="text" name="data.weight"  data-dtype="String" placeholder="Weight" title="Weight, e.g. 200 lbs." />
            <input type="text" name="data.quick"  data-dtype="String" placeholder="Quick Description" title="Quick Description, e.g. A tall and muscular, dark-haired human (he/him)" />
            <input type="text" name="data.kanka"  data-dtype="String" placeholder="Kanka URL" title="Kanka URL, e.g. https://kanka.io/en-US/campaign/6529/characters/50478" />
            <input type="text" name="data.class.name"  data-dtype="String" placeholder="Class" title="Class, e.g. Fighter" />
            <input type="text" name="data.class.paragon"  data-dtype="String" placeholder="Paragon Path" title="Paragon Path, e.g. Champion" />
            <input type="text" name="data.epic"  data-dtype="String" placeholder="Epic Destiny" title="Epic Destiny, e.g. Demigod" />
            <input type="number" name="data.class.level"  data-dtype="Number" title="Character Level"/>
            <input type="number" name="data.class.quest"  data-dtype="Number" title="Quest Bonus"/>
        </div>

        {{!-- Abilities and Skills Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            
            <ol class="repeating-list ability">
                <h2>Abilities</h2>
                {{#each data.abilities as |attr key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="label" name="data.abilities.{{key}}.label">{{label}}</h4>
                        <input class="score" type="number"  name="data.abilities.{{key}}.score"  value="{{attr.score}}"  data-dtype="Number" title="Ability Score" />
                        <span class="modifier" name="data.abilities.{{key}}.modifier">{{modifier}}</span> 
                    </li>
                {{/each}}
            </ol>
            <ol class="repeating-list skill">
                <h2>Skills</h2>
                {{#each data.skill as |skill key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="label" name="data.skill.{{key}}.label">{{label}}</h4>
                        <div class="config">
                            <select class="rank" name="data.skill.{{key}}.rank"  value="{{skill.rank}}"  data-dtype="String" >
                                <option value="Untrained" selected>Untrained</option>
                                <option value="Adept">Adept</option>
                                <option value="Trained">Trained</option>
                                <option value="Experienced">Experienced</option>
                                <option value="Expert">Expert</option>
                                <option value="Master">Master</option>
                            </select>
                            <input class="miscbonus" type="number"  name="data.skill.{{key}}.miscbonus"  value="{{skill.miscbonus}}" 
                             data-dtype="Number" title="Miscellaneous bonuses, such as from your race, feats, or items" />
                        </div>
                        <span class="ability" name="data.skill.{{key}}.ability">{{ability}}</span>
                        <span class="mod" name="data.skill.{{key}}.modifier">{{modifier}}</span> 
                    </li>
                {{/each}}
            </ol>
        </div>
		
		{{!-- Combat Tab --}}
		<div class="tab combat" data-group="primary" data-tab="combat">
            <h2>Combat</h2>
            <h3>Defenses</h3>
            <div class="defenses">
                <div class="numblock"><span>AC</span><input class="ac" type="number" name="data.ac" value="{{data.ac}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Fort</span><input class="nad" type="number" name="data.fortitude" value="{{data.fortitude}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Ref</span><input class="nad" type="number" name="data.reflex" value="{{data.reflex}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Will</span><input class="nad" type="number" name="data.will" value="{{data.will}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Current HP</span><input class="health current" type="number" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Max HP</span><input class="health max" type="number" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Bloodied</span><input class="health bloodied" type="number" name="data.health.bloodied" value="{{data.health.bloodied}}" data-dtype="Number"/></div>
                <div class="numblock"><span>THP</span><input class="health temp" type="number" name="data.health.temp" value="{{data.health.temp}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Surges</span><input class="surges current" type="number" name="data.surges.value" value="{{data.surges.value}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Max Surges</span><input class="surges max" type="number" name="data.surges.max" value="{{data.surges.max}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Surge Value</span><input class="surges heal" type="number" name="data.surges.heal" value="{{data.surges.heal}}" data-dtype="Number"/></div>
                <div class="numblock"><span>Movement</span><input class="movement" type="text" name="data.movement" value="{{data.movement}}" data-dtype="String"/></div>
            </div>
            <h3>Powers</h3>
            <ol class="powers-list">
                {{#each data.powers as |power key|}}
                <h4>Name</h4>
                {{/each}}
            </ol>
        </div>
        
        {{!-- Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <h2>Features</h2>
            <div class="race">
                <h3>Race Features</h3>
                <ol>
                    {{#each data.features.race as |feat key|}}
                    <li>
                        <h4>Name</h4>
                        <p>Description</p>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="class">
                <h3>Class Features</h3>
                <ol>
                    {{#each data.features.class as |feat key|}}
                    <li>
                        <h4>Name</h4>
                        <p>Description</p>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="competencies">
                <h3>Competencies</h3>
                <ol>
                    {{#each data.features.competencies as |feat key|}}
                    <li>
                        <h4>Name</h4>
                        <p>Description</p>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="feats">
                <h3>Feats</h3>
                <ol>
                    {{#each data.features.feats as |feat key|}}
                    <li>
                        <h4>Name</h4>
                        <p>Description</p>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="flaws">
                <h3>Flaws</h3>
                <ol>
                    {{#each data.features.flaws as |feat key|}}
                    <li>
                        <h4>Name</h4>
                        <p>Description</p>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <h2>Equipment</h2>
            <div class="worn">
                <h3>Worn</h3>
                <input class="head" type="text" name="data.equipment.worn.head.name"  data-dtype="String" placeholder="Head" title="Head, e.g. " />
                <input class="neck"  type="text" name="data.equipment.worn.neck.name"  data-dtype="String" placeholder="Neck" title="Neck, e.g. " />
                <input class="arms"  type="text" name="data.equipment.worn.arms.name"  data-dtype="String" placeholder="Arms" title="Arms, e.g. " />
                <input class="hands"  type="text" name="data.equipment.worn.hands.name"  data-dtype="String" placeholder="Hands" title="Hands, e.g. " />
                <input class="waist"  type="text" name="data.equipment.worn.waist.name"  data-dtype="String" placeholder="Waist" title="Waist, e.g. " />
                <input class="feet"  type="text" name="data.equipment.worn.feet.name"  data-dtype="String" placeholder="Feet" title="Feet, e.g. " />
                <input class="armor"  type="text" name="data.equipment.worn.armor.name"  data-dtype="String" placeholder="Armor" title="Armor, e.g. " />
            </div>
            <div class="carried">
                <h3>Carried</h3>
                <ol>
                    {{#each data.equipment.carried as |carried key|}}
                    <li>
                        <h4>Name</h4>
                        <p>Description</p>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="home">
                <h3>Kept at Home</h3>
                <ol>
                    {{#each data.equipment.home as |home key|}}
                    <li>
                        <h4>Name</h4>
                        <p>Description</p>
                    </li>
                    {{/each}}
                </ol>

            </div>
        </div>
    </section>
</form>

