<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"
                    title="Name, e.g. " /></h1>
            <h2 class="playername"><input name="data.playername" type="text" value="{{data.playername}}"
                    placeholder="Player Name" /></h2>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="abilities">Abilities</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="equipment">Equipment</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="description">
            <h2>Basic Info</h2>
            <div class="half">
                <h3>Biography</h3>
                <span class="race" name="data.race.name" >{{data.race.name}}</span>
                <input class="height" type="text" name="data.height" value="{{data.height}}" data-dtype="String"
                    placeholder="Height" title="Height, e.g. 6'1 " />
                <input class="weight" type="text" name="data.weight" value="{{data.weight}}" data-dtype="String"
                    placeholder="Weight" title="Weight, e.g. 200 lbs." />
                <textarea class="description" name="data.quick" value="{{data.quick}}" data-dtype="String"
                    placeholder="Quick Description"
                    title="Quick Description, e.g. A tall and muscular, dark-haired human (he/him)">{{data.quick}}</textarea>
            </div>
            <div class="half">
                <h3>Mechanics</h3>
                <span class="class" name="data.class.name" >{{class.name}}</span>
                <input class="level" type="text" pattern="\d+" name="data.class.level" value="{{data.class.level}}"
                    data-dtype="Number" placeholder="Character Level" title="Character Level" />
                <input class="paragon" type="text" name="data.class.paragon" value="{{data.class.paragon}}"
                    data-dtype="String" placeholder="Paragon Path" title="Paragon Path, e.g. Champion" />
                <input class="epic" type="text" name="data.epic" value="{{data.epic}}" data-dtype="String"
                    placeholder="Epic Destiny" title="Epic Destiny, e.g. Demigod" />
                <label>Quest: 
                    <input class="quest" type="text" pattern="\d+" name="data.class.quest" value="{{data.class.quest}}"
                        data-dtype="Number" placeholder="[Q]" title="Quest Bonus, goes from 0 to 10" />
                </label>
            </div>
            <input type="text" name="data.kanka" value="{{data.kanka}}" data-dtype="String" placeholder="Kanka URL"
                title="Kanka URL, e.g. https://kanka.io/en-US/campaign/6529/characters/50478" />

        </div>

        {{!-- Abilities and Skills Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <div class="ability">
                <h2>Abilities</h2>
                <ol class="block-list">
                    {{#each data.abilities as |attr key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="label" name="data.abilities.{{key}}.label">{{label}}</h4>
                        <input class="score" type="text" pattern="\d+" name="data.abilities.{{key}}.score"
                            value="{{attr.score}}" data-dtype="Number" title="Ability Score" />
                        <input class="modifier" type="text" pattern="\d+" name="data.abilities.{{key}}.modifier"
                            value="{{attr.modifier}}" data-dtype="Number" title="Ability Modifier" />
                    </li>
                    {{/each}}
                </ol>

            </div>
            <div class="skill">
                <h2>Skills</h2>
                <div class="head">
                    <p class="mod">Mod</p>
                    <p class="label">Skill</p>
                    <p class="ability">Ability</p>
                    <p class="rank">Rank</p>
                    <p class="misc">Misc. Bonus</p>
                </div>
                <ol class="repeating-list">
                    {{#each data.skill as |skill key|}}
                    <li data-attribute="{{key}}" class="{{skill.ability}}">
                        <p class="mod" name="data.skill.{{key}}.modifier">{{modifier}}</p>
                        <p class="label" name="data.skill.{{key}}.label">{{label}}</p>
                        <p class="ability">{{ability_short}}</p>
                        <select class="rank" name="data.skill.{{key}}.rank" data-dtype="String">
                            {{#select skill.rank}}
                            <option value="Untrained" selected>Untrained</option>
                            <option value="Adept">Adept</option>
                            <option value="Trained">Trained</option>
                            <option value="Experienced">Experienced</option>
                            <option value="Expert">Expert</option>
                            <option value="Master">Master</option>
                            {{/select}}
                        </select>
                        <input class="miscbonus" type="text" pattern="\d+" name="data.skill.{{key}}.miscbonus"
                            value="{{skill.miscbonus}}" data-dtype="Number"
                            title="Miscellaneous bonuses, such as from your race, feats, or items" />
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <h2>Combat</h2>
            <h3 class="defense">Defenses</h3>
            <a class="defense-edit" title="Configure Defenses"><i class="fas fa-edit"></i></a>
            <div class="display">
                <ul class="attributes flexrow">
                    <li class="attribute movement">
                        <h4 class="attribute-name box-title">Speed</h4>
                        <div class="attribute-value">
                            <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}"
                                placeholder="Land Speed" />
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" class="speed" name="data.attributes.speed.special"
                                value="{{data.attributes.speed.special}}" placeholder="Special Movement" />
                        </footer>
                    </li>
                    <li class="attribute health">
                        <h4 class="attribute-name box-title">Health</h4>
                        <div class="attribute-value multiple">
                            <input class="healthvalue" name="data.health.value" type="text" pattern="\d+"
                                value="{{data.health.value}}" data-dtype="Number" placeholder="10" />
                            <span class="sep"> / </span>
                            <span class="max" name="data.health.max" value="{{data.health.max}}">{{data.health.max}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input name="data.health.temp" type="text" pattern="\d+" class="half" placeholder="+Temp"
                                value="{{data.health.temp}}" data-dtype="Number" />
                            <input name="data.health.tempmax" type="text" pattern="(-)?\d+" class="half"
                                placeholder="+Temp Max" value="{{data.health.tempmax}}" data-dtype="Number" />
                        </footer>
                    </li>
                    <li class="attribute surges">
                        <h4 class="attribute-name box-title">Surges</h4>
                        <div class="attribute-value multiple">
                            <input name="data.surges.value" type="text" pattern="\d+" value="{{data.surges.value}}"
                                data-dtype="Number" placeholder="6" />
                            <span class="sep"> / </span>
                            <span class="max" name="data.surges.max" value="{{data.surges.max}}">{{data.surges.max}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <span>Value: </span><span name="data.surges.heal">{{data.surges.heal}}</span>
                        </footer>
                    </li>
                </ul>
                <ul class="attributes flexrow">
                    <li class="attribute defense">
                        <h4 class="attribute-name box-title">AC</h4>
                        <div class="attribute-value">
                            <span class="ac" name="data.ac.value">{{data.ac.value}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" pattern="\d+" name="data.ac.miscbonus" value="{{data.ac.miscbonus}}"
                                placeholder="Misc. Bonus" data-dtype="Number" />
                        </footer>
                    </li>
                    <li class="attribute defense">
                        <h4 class="attribute-name box-title">Fortitude</h4>
                        <div class="attribute-value">
                            <span class="ac" name="data.fortitude.value">{{data.fortitude.value}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" pattern="\d+" name="data.fortitude.miscbonus"
                                value="{{data.fortitude.miscbonus}}" placeholder="Misc. Bonus" data-dtype="Number" />
                        </footer>
                    </li>
                    <li class="attribute defense">
                        <h4 class="attribute-name box-title">Reflex</h4>
                        <div class="attribute-value">
                            <span class="ac" name="data.reflex.value">{{data.reflex.value}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" pattern="\d+" name="data.reflex.miscbonus" value="{{data.reflex.miscbonus}}"
                                placeholder="Misc. Bonus" data-dtype="Number" />
                        </footer>
                    </li>
                    <li class="attribute defense">
                        <h4 class="attribute-name box-title">Will</h4>
                        <div class="attribute-value">
                            <span class="ac" name="data.will.value">{{data.will.value}}</span>
                        </div>
                        <footer class="attribute-footer">
                            <input type="text" pattern="\d+" name="data.will.miscbonus" value="{{data.will.miscbonus}}"
                                placeholder="Misc. Bonus" data-dtype="Number" />
                        </footer>
                    </li>
                </ul>
            </div>
            <div class="defense-config">
                <label class="numblock"><span>Bonus Max HP</span>
                    <input class="defense hp" type="text" pattern="\d+" name="data.class.bonus.hp" value="{{data.class.bonus.hp}}"
                        data-dtype="Number" title="Bonus Max HP, such as from the Toughness feat" />
                </label>
                <label class="numblock"><span>Bonus Surges</span>
                    <input class="defense hp" type="text" pattern="\d+" name="data.class.bonus.surges" value="{{data.class.bonus.surges}}"
                        data-dtype="Number" title="Bonus surges" />
                </label>
            </div>
            <h3>Powers</h3>
            <ol class="powers repeating-list">
                {{#each data.powers as |power key|}}
                <li class="powers item" data-item-id="power._id">
                    <div class="powerheader">
                        <span class="powername" name="data.powers.{{key}}.name">{{name}}</span>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="powerbody">
                        <div class="power-row">
                            <div class="rangetargets">
                                <span class="range" name="data.powers.{{key}}.data.range">{{range}}</span> ♦ <span
                                    class="targets" name="data.powers.{{key}}.data.target">{{target}}</span>
                            </div>
                            <label class="ready">
                                Ready
                                <input type="checkbox" name="data.powers.{{key}}.data.ready" />
                            </label>
                        </div>
                        <div class="power-row">
                            Attack:
                            <span name="data.powers.{{key}}.data.hitbonus">{{hitbonus}}</span> vs. <span
                                name="data.powers.{{key}}.data.defselect">{{defselect}}</span>
                        </div>
                        <div class="power-row">
                            <span name="data.powers.{{key}}.data.damagedice">{{damagedice}}</span><span value="0"
                                name="data.powers.{{key}}.data.flatdamage">{{flatdamage}}</span>
                            <span name="data.powers.{{key}}.data.damagetype">{{damaagetype}}</span> damage
                        </div>
                        <div class="power-row">
                            Power Text
                            <span class="powertext" name="data.powers.{{key}}.data.power-text">{{power-text}}</span>
                        </div>
                    </div>

                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <h2>Features</h2>
            <div class="race">
                <h3>Race Features</h3>
                <ol class="features-list">
                    {{#each data.features.race as |feat key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="name" name="data.features.race.{{key}}.label">{{label}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="description" name="data.features.race.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="class">
                <h3>Class Features</h3>
                <ol class="features-list">
                    {{#each data.features.class as |feat key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="name" name="data.features.class.{{key}}.label">{{label}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>    
                        <div class="description" name="data.features.class.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="competencies">
                <h3>Competencies</h3>
                <ol class="features-list">
                    {{#each data.features.competencies as |feat key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="name" name="data.features.competencies.{{key}}.label">{{label}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="description" name="data.features.competencies.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="feats">
                <h3>Feats</h3>
                <ol class="features-list">
                    {{#each data.features.feats as |feat key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="name" name="data.features.feats.{{key}}.label">{{label}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="description" name="data.features.feats.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="flaws">
                <h3>Flaws</h3>
                <ol class="features-list">
                    {{#each data.features.flaws as |feat key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="name" name="data.features.flaws.{{key}}.label">{{label}}</h4>
                        <div class="description" name="data.features.flaws.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            <h2>Equipment</h2>
            <div class="worn">
                <h3>Worn</h3>
                <input class="head" type="text" name="data.equipment.worn.head.name" data-dtype="String"
                    placeholder="Head" title="Head, e.g. " />
                <input class="neck" type="text" name="data.equipment.worn.neck.name" data-dtype="String"
                    placeholder="Neck" title="Neck, e.g. " />
                <input class="arms" type="text" name="data.equipment.worn.arms.name" data-dtype="String"
                    placeholder="Arms" title="Arms, e.g. " />
                <input class="hands" type="text" name="data.equipment.worn.hands.name" data-dtype="String"
                    placeholder="Hands" title="Hands, e.g. " />
                <input class="waist" type="text" name="data.equipment.worn.waist.name" data-dtype="String"
                    placeholder="Waist" title="Waist, e.g. " />
                <input class="feet" type="text" name="data.equipment.worn.feet.name" data-dtype="String"
                    placeholder="Feet" title="Feet, e.g. " />
                <input class="armor" type="text" name="data.equipment.worn.armor.name" data-dtype="String"
                    placeholder="Armor" title="Armor, e.g. " />
            </div>
            <div class="carried">
                <h3>Carried</h3>
                <ol class="features-list">
                    {{#each data.equipment.carried as |carried key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="name" name="data.equipment.carried.{{key}}.label">{{label}}</h4>
                        <div class="description" name="data.equipment.carried.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="home">
                <h3>Kept at Home</h3>
                <ol class="features-list">
                    {{#each data.equipment.home as |home key|}}
                    <li data-attribute="{{key}}">
                        <h4 class="name" name="data.equipment.home.{{key}}.label">{{label}}</h4>
                        <div class="description" name="data.equipment.home.{{key}}.description">{{description}}</div>
                    </li>
                    {{/each}}
                </ol>

            </div>
        </div>
    </section>
</form>