<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="description">Biography</a>
        <a class="item" data-tab="abilities">Skills</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Combat Tab --}}
        <div class="tab combat save-scroll" data-group="primary" data-tab="combat">
            <h2 class="defense">Defenses</h2>
            <ul class="attributes flexrow">
                <li class="attribute movement">
                    <h4 class="attribute-name box-title">Speed</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}"
                            placeholder="Land Speed" />
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" class="speed" name="data.attributes.speed.special"
                            value="{{data.attributes.speed.special}}" placeholder="Special Movement" />
                    </footer>
                </li>
                <li class="attribute health">
                    <h4 class="attribute-name box-title">Health</h4>
                    <div class="attribute-value multiple">
                        <input class="healthvalue" name="data.health.value" type="text" pattern="\d+"
                            value="{{data.health.value}}" data-dtype="Number" placeholder="10" />
                        <span class="sep"> / </span>
                        <input class="max" name="data.health.max" type="text" pattern="\d+"
                            value="{{data.health.max}}" data-dtype="Number" placeholder="10"  />
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.health.temp" type="text" pattern="\d+" class="half" placeholder="+Temp"
                            value="{{data.health.temp}}" data-dtype="Number" />
                        <input name="data.health.tempmax" type="text" pattern="(-)?\d+" class="half"
                            placeholder="+Temp Max" value="{{data.health.tempmax}}" data-dtype="Number" />
                    </footer>
                </li>
            </ul>
            <ul class="attributes flexrow">
                <li class="attribute defense">
                    <h4 class="attribute-name box-title">AC</h4>
                    <div class="attribute-value">
                        <input type="text" name="data.ac.value" value="{{data.ac.value}}" placeholder="ac" data-dtype="Number" pattern="\d+" />
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" pattern="\d+" name="data.ac.miscbonus" value="{{data.ac.miscbonus}}"
                            placeholder="Misc. Bonus" data-dtype="Number" />
                    </footer>
                </li>
                <li class="attribute defense">
                    <h4 class="attribute-name box-title">Fortitude</h4>
                    <div class="attribute-value">
                        <input type="text" name="data.fortitude.value" value="{{data.fortitude.value}}" placeholder="fortitude" data-dtype="Number" pattern="\d+" />
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" pattern="\d+" name="data.fortitude.miscbonus"
                            value="{{data.fortitude.miscbonus}}" placeholder="Misc. Bonus" data-dtype="Number" />
                    </footer>
                </li>
                <li class="attribute defense">
                    <h4 class="attribute-name box-title">Reflex</h4>
                    <div class="attribute-value">
                        <input type="text" name="data.reflex.value" value="{{data.reflex.value}}" placeholder="reflex" data-dtype="Number" pattern="\d+" />
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" pattern="\d+" name="data.reflex.miscbonus" value="{{data.reflex.miscbonus}}"
                            placeholder="Misc. Bonus" data-dtype="Number" />
                    </footer>
                </li>
                <li class="attribute defense">
                    <h4 class="attribute-name box-title">Will</h4>
                    <div class="attribute-value">
                        <input type="text" name="data.will.value" value="{{data.will.value}}" placeholder="will" data-dtype="Number" pattern="\d+" />
                    </div>
                    <footer class="attribute-footer">
                        <input type="text" pattern="\d+" name="data.will.miscbonus" value="{{data.will.miscbonus}}"
                            placeholder="Misc. Bonus" data-dtype="Number" />
                    </footer>
                </li>
            </ul>
            <input class="damagemod resistances" type="text" name="data.statistics.resistances" placeholder="Resistances"
            value="{{data.statistics.resistances}}" data-dtype="String"/>
        <input class="damagemod vulnerabilities" type="text" name="data.statistics.vulnerabilities" placeholder="Vulnerabilities"
            value="{{data.statistics.vulnerabilities}}" data-dtype="String"/>
        <input class="damagemod immunities" type="text" name="data.statistics.immunities" placeholder="Immunities"
            value="{{data.statistics.immunities}}" data-dtype="String"/>
        <h2>Powers</h2>
        <div class="powers">
            <header class="features-header flexrow">
                <span class="feature-key">Feature Key</span>
                <span class="feature-label">Name</span>
                <a class="feature-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>
            <ol class="features-list powers">
            {{#each data.powers as |pwr key|}}
                <li class="power" data-power="{{key}}">
                    <div class="power-header">
                        <input class="feature-key" type="text" name="data.powers.{{key}}.key" 
                            value="{{key}}" placeholder="Key"/>
                        <input class="name" type="text" name="data.powers.{{key}}.name" value="{{name}}" placeholder="Power Name" data-dtype="String" />
                        <a class="power-control" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="power-body">
                        <input class="attack bonus" type="text" name="data.powers.{{key}}.attack.hitbonus" value="{{attack.hitbonus}}" data-dtype="Number" pattern="\d+" placeholder="0"/>
                        <span class="attack rollable clickable" data-power="{{key}}" data-attack="attack">vs.</span>
                        <select class="attack defense" name="data.powers.{{key}}.attack.def" data-dtype="String">
                            {{#select attack.def}}
                                <option value="Ac">AC</option>
                                <option value="Fortitude">Fort</option>
                                <option value="Reflex">Ref</option>
                                <option value="Will">Will</option>
                            {{/select}}
                        </select>
                        <input class="damage dice" type="text" name="data.powers.{{key}}.attack.damagedice" value="{{attack.damagedice}}" data-dtype="String" placeholder="1d8" />
                        <span>+</span>
                        <input class="damage flat" type="text" name="data.powers.{{key}}.attack.flat" value="{{attack.flat}}" data-dtype="Number" placeholder="3" />
                        <input class="damage type" type="text" name="data.powers.{{key}}.hit.damagetype" value="{{hit.damagetype}}" data-dtype="String" placeholder="Fire" />
                        <span class="hit-damage rollable clickable" data-power="{{key}}" data-attack="attack">damage</span>
                        <textarea class="effect">{{effect}}</textarea>
                    </div>
                </li>
            {{/each}}
            </ol>

        </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="description">
            <input class="race" type="text" name="data.race.name" value="{{data.race.name}}" placeholder="Race" />
            <input class="speech" type="text" name="data.speech" value="{{data.speech}}" placeholder="Speaking Style" />
            <input class="tic" type="text" name="data.tic" value="{{data.tic}}" placeholder="Speaking Tics" />
            <input class="desire" type="text" name="data.desire" value="{{data.desire}}" placeholder="Desires" />
            <input class="fear" type="text" name="data.fear" value="{{data.fear}}" placeholder="Fears" />
            <input class="weakness" type="text" name="data.weakness" value="{{data.weakness}}" placeholder="Weaknesses" />
            <input class="secret" type="text" name="data.secret" value="{{data.secret}}" placeholder="Secrets" />
            <textarea class="quick" name="data.quick" placeholder="Quick Description" >{{quick}}</textarea>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            <div class="ability">
                <h2>Abilities</h2>
                <ol class="block-list">
                    {{#each data.abilities as |attr key|}}
                    <li>
                        <h4 class="label rollable ability clickable" data-ability="{{key}}">{{label}}</h4>
                        <input class="score" type="text" pattern="\d+" name="data.abilities.{{key}}.score"
                            value="{{attr.score}}" data-dtype="Number" title="Ability Score" />
                        <span class="modifier" title="Ability Modifier" >{{numberFormat mod decimals=0 sign=true}}</span>
                    </li>
                    {{/each}}
                </ol>

            </div>
            <div class="skill">
                <h2>Skills</h2>
                <div class="head">
                    <p class="mod">Mod</p>
                    <p class="label">Skill</p>
                    <p class="ability">Ability</p>
                    <p class="rank">Rank</p>
                    <p class="misc">Misc. Bonus</p>
                </div>
                <ol class="repeating-list save-scroll">
                    {{#each data.skill as |skill key|}}
                    <li class="{{skill.ability}}">
                        <p class="mod">{{numberFormat mod decimals=0 sign=true}}</p>
                        <p class="label clickable rollable skill" data-skill="{{key}}">{{label}}</p>
                        <p class="ability">{{ability_short}}</p>
                        <select class="rank" name="data.skill.{{key}}.rank" data-dtype="String">
                            {{#select skill.rank}}
                            <option value="Untrained" selected>Untrained</option>
                            <option value="Adept">Adept</option>
                            <option value="Trained">Trained</option>
                            <option value="Experienced">Experienced</option>
                            <option value="Expert">Expert</option>
                            <option value="Master">Master</option>
                            {{/select}}
                        </select>
                        <input class="miscbonus" type="text" pattern="\d+" name="data.skill.{{key}}.miscbonus"
                            value="{{skill.miscbonus}}" data-dtype="Number"
                            title="Miscellaneous bonuses, such as from your race, feats, or items" />
                    </li>
                    {{/each}}
                </ol>
            </div>
            
        </div>
        


    </section>
</form>

